<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" media="all" />
        <title>PyBLOG</title>
    </head>
    
    <body>
        <div id="container">
            <header>
                <a href="{% url posts_list %}" id="logo">PyBLOG</a>
                {% include "includes/langswitch.html" %}
            </header>
            
            <section id="content">
                {% block content %}
                    <p>Sorry, this page is currently under construction.</p>
                {% endblock %}
            </section
        </div>        
    </body>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#global_language").change(function() {
                $("#langform").submit();
            })
        })
    </script>
</html>
