<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" media="all" />
        <title>PyBLOG</title>
    </head>
    
    <body>
        <div id="container">
            <header>
                <a href="/" id="logo">PyBLOG</a>
            </header>
            
            <section id="content">
                {% block content %}
                    <p>Sorry, this page is currently under construction.</p>
                {% endblock %}
            </section
        </div>        
    </body>
</html>
